.app.light {
    --bg-color: #dadada;
    --inverted-bg-color: #1000bc;

    --primary-color: #23008c;
    --secondary-color: #0054dc;
    --inverted-primary-color: #008c2c;
    --inverted-secondary-color: #00dc2c;
}